<div data-page="listadoBoe" class="page cached">
    <!-- Barra nav ------------------------------------------------------------------------------------------------- -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#index" class="link icon-only" ng-click="onIconBack()">
                    <i class="icon icon-back"></i></a>
            </div>
            <div class="center">BOE: {{ tipoAyuda }}</div>
            <div class="right"><span id="itemsLength" class="badge">{{ numItems }}</span></div>
        </div>
    </div>
    <!--todo: poner barra de navegación al final de la pantalla con el nombre completo de la institución y logo a ser posible-->
    <!-- Barra busqueda -------------------------------------------------------------------------------------------- -->
    <form id="searchbarBoe" data-search-list=".list-block-search" data-search-in=".item-inner" class="searchbar searchbar-init">
        <div class="searchbar-input">
            <input id= "inputTxt" type="search" placeholder="Buscar"/>
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    <div class="searchbar-overlay"></div>
    <!-- Fin barra busqueda ---------------------------------------------------------------------------------------- -->
    <div class="page-content" style="padding-top:73px">
        <!-- Listado ----------------------------------------------------------------------------------------------- -->
        <div class="content-block searchbar-not-found">
            <div class="content-block-inner">No se han encontrado resultados</div>
        </div>
        <div id="bloqueListaBoe" class="list-block list-block-search searchbar-found">
            <ul id="listaBoe">
                <li ng-repeat="item in items">
                    <!--<a ng-href="#detalleBoe?id={{hallaId(item.link)}}&web={{item.link|urlEncode}}&pdf={{item.guid.content|urlEncode}}"-->
                       <!--class="item-link">-->
                    <a id="{{$index}}" ng-href="#detalleBoe?url={{ item.link | urlEncode }}&pdf={{ item.guid.content | urlEncode }}" class="item-link">
                        <div class="item-inner paddingLeft">
                            <div>
                                {{ item.title }}<br>
                                <div class="pieItem">{{ item.description }}</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <a href="#index">go back</a><br>
    <!-- pagina detalle -------------------------------------------------------------------------------------------- -->
        <ng-include src="'html/boe/detalleBoe.html'" ng-controller="DetalleBoeCtrl"></ng-include>
    <!-- pagina detalle -------------------------------------------------------------------------------------------- -->
    </div>
</div>
