<div data-page="listadoMinetur" class="page cached">
    <!-- Barra nav ------------------------------------------------------------------------------------------------- -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#index" class="link icon-only" ng-click="onIconBack()">
                    <i class="icon icon-back"></i></a>
            </div>
            <div class="center">MINETUR</div>
            <div class="right"><span id="itemsLength" class="badge">{{ numItems }}</span></div>
        </div>
    </div>
    <!-- Barra busqueda -------------------------------------------------------------------------------------------- -->
    <form id="searchbarMinetur" data-search-list=".list-block-search" data-search-in=".item-inner" class="searchbar searchbar-init">
        <div class="searchbar-input">
            <input id= "inputTxt" type="search" placeholder="Buscar"/>
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    <div class="searchbar-overlay"></div>
    <!-- Fin barra busqueda ---------------------------------------------------------------------------------------- -->
    <div class="page-content padTop73">
        <!-- Listado ----------------------------------------------------------------------------------------------- -->
        <div class="content-block searchbar-not-found">
            <div class="content-block-inner">No se han encontrado resultados</div>
        </div>
        <div id="bloqueListaMinetur" class="list-block list-block-search searchbar-found">
            <ul id="listaMinetur">
                <li id="{{$index}}" ng-repeat="item in items" ng-click="openPopup($index)">
                    <label class="label-radio item-content padLeft5">
                        <input type="radio" name="my-radio">
                        <div class="item-media minWith0"><i class="icon icon-form-radio smallRadio"></i></div>
                        <div class="item-inner margLeft8">
                            <div>
                                <div>{{ item.title }}</div>
                                <div class="pieItem">
                                    <div>{{ item.creator }}</div>
                                </div>
                            </div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
