<div data-page="detalleIpyme" class="page cached">
    <div class="navbar sombra">
        <div class="navbar-inner">
            <div class="left">
                <a href="#listadoIpyme" class="link icon-only" ng-click="onIconBack()"><i class="icon icon-back"></i></a>
            </div>
            <div class="center">IPYME Detalles</div>
            <div class="right">
                <a href="#" class="link icon-only open-panel" data-panel="left"><i class="icon icon-bars"></i></a>
            </div>
        </div>
    </div>
    <!-- speed dial ------------------------------------------------------------------------------------------------ -->
    <div class="speed-dial">
        <a href="#" class="floating-button color-indigo">
            <i class="icon icon-plus"></i><i class="icon icon-close"></i></a>
        <div class="speed-dial-buttons">
            <a href="{{ url }}" class="external color-indigo" target="_blank">
                <i class="icon ks-icon-calendar"></i></a>
        </div>
    </div>
    <!-- contenido pagina ------------------------------------------------------------------------------------------ -->
    <div class="page-content hide-navbar-on-scroll" style="padding-top:50px;font-size:small">
        <div class="content-block">
            <b>EXTRACTO:</b>
            <base href="http://www.ipyme.org/">
            <div ng-bind-html="htmlDetalle | FiltroHtml"></div>

            <div ng-show="showButtons">
                <p class="buttons-row">
                    <a href="{{ url }}" class="external button button-raised button-fill"
                       target="_blank">Texto Completo (Web)</a></p>
                <div id="btnTop" class="button" style="text-align:center" ng-click="btnTop()">Inicio</div>
            </div>
        </div>
    </div>
    <!-- fin contenido pagina -------------------------------------------------------------------------------------- -->
</div>
