<div data-page="listadoIdepa" class="page cached">
    <!-- Barra nav ------------------------------------------------------------------------------------------------- -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#index" class="link icon-only" ng-click="onIconBack()">
                    <i class="icon icon-back"></i></a>
            </div>
            <!--todo: poner icono de idepa en barra de titulo-->
            <!--todo: arreglar duplicado id=itemsLength-->
            <div class="center">IDEPA</div>
            <div class="right"><span id="itemsLength" class="badge">{{ numItems }}</span></div>
        </div>
    </div>
    <!-- Barra busqueda -------------------------------------------------------------------------------------------- -->
    <form id="searchbarIdepa" data-search-list=".list-block-search" data-search-in=".item-inner" class="searchbar searchbar-init">
        <div class="searchbar-input">
            <input id= "inputTxt" type="search" placeholder="Buscar"/>
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    <div class="searchbar-overlay"></div>
    <!-- Fin barra busqueda ---------------------------------------------------------------------------------------- -->
    <div class="page-content" style="padding-top: 73px;">
        <!-- Listado ----------------------------------------------------------------------------------------------- -->
        <div class="content-block searchbar-not-found">
            <div class="content-block-inner">No se han encontrado resultados</div>
        </div>
        <div id="bloqueListaIdepa" class="list-block list-block-search searchbar-found">
            <ul id="listaIdepa">
                <li ng-repeat="item in items">
                    <a id="{{ $index }}" ng-href="#detalleIdepa?index={{ $index }}"
                       class="item-link">
                        <div class="item-inner paddingLeft" >
                            <div>
                                <div>{{ item.descripcion }}</div>
                                <div>{{ item.anexo }}</div>
                                <div class="pieItem">
                                    <div>{{ item.vigencia }}</div>
                                    <div>Ámbito: {{ item.ambito }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <a href="#index">go back</a><br>
    <!-- pagina detalle -------------------------------------------------------------------------------------------- -->
        <ng-include src="'html/idepa/detalleIdepa.html'" ng-controller="DetalleIdepaCtrl"></ng-include>
    <!-- pagina detalle -------------------------------------------------------------------------------------------- -->
    </div>
</div>
