<div data-page="detalle" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left width44">
                <a href="#" class="link close-popup"><i class="icon icon-close"></i></a>
            </div>
            <div class="center" style="margin-right:70px">Detalles</div>
        </div>
    </div>
    <!-- speed dial ------------------------------------------------------------------------------------------------ -->
    <div class="speed-dial">
        <a href="#" class="floating-button color-indigo">
            <i class="icon icon-plus"></i><i class="icon icon-close"></i></a>

        <div class="speed-dial-buttons">
            <a href="#" class="open-popover color-indigo" data-popover="#popover-share">
                <i class="fa fa-share-alt-square" style="font-size:18px"></i>
            </a>
            <a ng-if="item.pdf" href="{{ item.pdf }}" class="external color-indigo">Doc</a>
            <a href="{{ item.link }}" class="external color-indigo">Web</a>
            <a ng-if="item.linkExternal_Url_or_Pdf" href="{{ item.linkExternal_Url_or_Pdf}}"
               class="external color-indigo">Doc</a>
        </div>
    </div>
    <!-- contenido pagina ------------------------------------------------------------------------------------------ -->
    <div  id="detalleContent" class="page-content hide-navbar-on-scroll detailPageContent">
        <div class="content-block">
            <b style="text-decoration:underline">EXTRACTO:</b>

            <p id='detailContent' ng-bind-html="item.content | FiltroHtml"></p>

            <div ng-show="item.showButtons">
<!--
                <p class="buttons-row">
                    <a href="{{ item.link }}" class="external button button-raised button-fill"
                       target="_blank">Ver P&aacute;gina Web</a></p>
                <p ng-if="item.pdf" class="buttons-row">
                    <a href="{{ item.pdf }}" class="external button button-raised button-fill"
                       target="_blank">Ver Documento PDF</a></p>
-->
                <hr/>
                <div id="btnTop" class="button" ng-click="btnTop()">
                    Inicio<i class="icon ks-icon-upload"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- fin contenido pagina -------------------------------------------------------------------------------------- -->
</div>





