<div class="navbar sombra">
    <div class="navbar-inner">
        <div class="left">
            <a href="#index" class="link icon-only"><i class="icon icon-back"></i></a>
        </div>
        <div class="center">Favoritos</div>
        <div class="right">
            <a href="#" class="link icon-only" ng-click="deleteAll()" style="padding:0">
                <i class="fa fa-trash-o fa-2"></i>
            </a>
            <a href="#" class="link icon-only open-panel" data-panel="left" style="padding:8px">
                <i class="link icon icon-bars"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content padTop0 hide-toolbar-on-scroll">
    <div class="list-block margLista listaFavs">
        <div ng-if="favoritos.length > 0" class="avisoFavs">
            Deslizar item izquierda para opciones <img class="verticalMid" src="img/s2.png"></div>
        <div ng-if="favoritos.length < 1" class="avisoFavs">No hay favoritos</div>
        <ul>
            <li ng-repeat="fav in favoritos track by $index" class="swipeout">
                <label class="label-radio item-content padLeft5">
                    <input type="radio" name="my-radio">
                    <div class="item-inner swipeout-content margLeft8">
                        <div style="width:100%">
                            <div style="color:orange;text-align:right">
                                <b style="padding:5px">{{ fav.txt.titulo }}</b>
                                <i class="fa fa-arrow-circle-left" style="font-size:18px;vertical-align:top;"></i>
                            </div>
                            <i class="icon icon-form-radio smallRadio"></i>
                            <span>{{ fav.title }}</span>
                            <span>{{ fav.titulo.text }}</span>
                            <span>{{ fav.descripcion }}</span>
                            <div class="pieItem">
                                <div ng-if="fav.txt.titulo == 'BOE'">{{ fav.description }}</div>
                                <div>{{ fav.ambito }}</div>
                                <div>{{ fav.plazo }}</div>
                                <div>{{ fav.creator }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-right">
                        <a href="#" ng-click="deleteFavorito($index)" class="swipeout-close bg-red">
                            <b>Borrar</b>
                        </a>
                        <a href="#" ng-click="abreEnlace(fav.enlaceExterno)" class="swipeout-close bg-green">
                            <b>Ver Web</b>
                        </a>
                    </div>
                </label>
            </li>
        </ul>
    </div>
</div>
