<div class="navbar sombra">
    <div class="navbar-inner">
        <div class="left">
            <a href="#index" class="link icon-only"><i class="icon icon-back"></i></a>
        </div>
        <div class="center">Favoritos</div>
        <div class="right">
            <a href="#" class="link icon-only" ng-click="deleteAll()" style="padding:5px">
                <i class="fa fa-trash-o fa-2"></i>
            </a>
            <a href="#" class="link icon-only open-panel" data-panel="left" style="padding:8px">
                <i class="link icon icon-bars"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content padTop0 hide-toolbar-on-scroll">
    <div class="list-block margLista listaFavs">
        <div ng-if="favoritos.length < 1" class="avisoFavs">No hay favoritos</div>
        <ul>
            <li id="fav{{$index}}" ng-repeat="fav in favoritos track by $index" class="swipeout">
                <label class="label-radio item-content padLeft5">
                    <input type="radio" name="my-radio">
                    <div id="{{$index}}" class="item-inner swipeout-content margLeft8">
                        <div style="width:100%">
                            <div style="color:orange;text-align:right">
                                <b style="padding:5px">{{ fav.organismo }}</b>
                            </div>
                            <i class="icon icon-form-radio smallRadio"></i>
                            <span>{{ fav.titulo }}</span>
                            <div class="pieItem">
                                {{ fav.description }}
                                {{ fav.ambito }}
                                {{ fav.plazo }}
                                {{ fav.creator }}
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-right">
                        <a href="#" ng-click="popupDetalleFavorito($index)" class="swipeout-close" style="background:green">
                            <b>Detalles</b>
                        </a>
                        <a href="#" ng-click="deleteFavorito($index)" class="swipeout-close" style="background:red">
                            <b>Borrar</b>
                        </a>
                    </div>
                </label>
            </li>
        </ul>
    </div>
</div>
