<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#index" class="link icon-only">
                <i class="icon icon-back"></i>
            </a>
        </div>
        <div class="center">Include Page</div>
    </div>
</div>

<div class="page-content">
    This is include-page.html, loaded using ng-include<br/>
    <button ng-click="modificar()">modificar</button>
    <p>contador: {{contador}}</p>
    <a href="#index" class="back"> Go back</a>
    <p><button ng-click="averiguaAyudas()">averiguar ayudas</button></p>
    <p>numero de ayudas: {{nAyudas}}</p>
    <div ng-repeat="item in coleccionAyudas">{{item.descripcion_ayuda}}<hr></div>
</div>


