<!-- Barra nav ===================================================================================================== -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#index" class="link icon-only" ng-click="onIconBack()">
                <i class="icon icon-back"></i></a>
        </div>
        <div class="center margRight30">{{ txt.titulo }}</div>
        <div class="right"><span id="itemsLength" class="badge">{{ numItems }}</span></div>
    </div>
</div>
<!-- Barra busqueda ================================================================================================ -->
<form id="searchbar{{ txt.titulo }}" data-search-list=".list-block-search" data-search-in=".item-inner" class="searchbar searchbar-init">
    <div class="searchbar-input">
        <input type="search" placeholder="Buscar"/>
        <a href="#" class="searchbar-clear"></a>
    </div>
</form>
<div class="searchbar-overlay"></div>
<!-- Fin barra busqueda ======================================================================================== -->
<div class="page-content padTop0 hide-toolbar-on-scroll">
    <!-- Listado =============================================================================================== -->
    <div class="content-block searchbar-not-found">
        <div class="content-block-inner">No se han encontrado resultados</div>
    </div>
    <div id="lista{{ txt.titulo }}" class="list-block list-block-search searchbar-found margLista">
        <!--<div class="avisoFavs">Deslizar item izquierda para guardar <img class="verticalMid" src="img/s2.png"></div>-->
        <ul>
            <li id="{{$index}}" ng-repeat="item in items track by $index" class="swipeout" ng-click="onClickItem($index)">
                <label class="label-radio item-content padLeft5">
                    <input type="radio" name="my-radio">
                    <div class="item-inner swipeout-content margLeft8">
                        <div>
                            <i class="icon icon-form-radio smallRadio"></i>
                            <span>
                            {{ item.title }}
                            {{ item.titulo.text }}
                            {{ item.descripcion }}
                            {{ item[5] | uppercase }}
                            </span>
                            <div class="pieItem">
                                <div ng-if="txt.titulo == 'BOE'">{{ item.description }}</div>
                                {{ item.ambito }}
                                {{ item.plazo }}
                                {{ item.creator }}
                                {{ item[1] }} {{ item[2] }} {{ item[4] }}
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-right">
                        <a href="#" ng-click="openPopup($index)" class="swipeout-close bg-green"><b>Detalles</b></a>
                        <a href="#" ng-click="addFavorito($index)" class="swipeout-close bg-cyan"><b>Guardar</b></a>
                    </div>
                </label>
            </li>
        </ul>
    </div>
</div>
