<!-- Barra nav ===================================================================================================== -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#index" class="link icon-only" ng-click="onIconBack()">
                <i class="icon icon-back"></i></a>
        </div>
        <div class="center margRight30">{{ txt.titulo }}</div>
        <div class="right"><span id="itemsLength" class="badge">{{ numItems }}</span></div>
    </div>
</div>
<!-- Barra busqueda ================================================================================================ -->
<form id="searchbar{{ txt.titulo }}" data-search-list=".list-block-search"
    data-search-in=".item-inner" class="searchbar searchbar-init">
    <div class="searchbar-input">
        <input type="search" placeholder="Buscar"/>
        <a href="#" class="searchbar-clear"></a>
    </div>
</form>
<div class="searchbar-overlay"></div>
<!-- Contenido pagina ============================================================================================== -->
<div class="page-content padTop0 hide-toolbar-on-scroll">
    <!--DEBUG: items defined = {{ isDefined(items) }}-->
    <div class="content-block searchbar-not-found">
        <div class="content-block-inner center">No hay resultados</div>
    </div>
    <div id="lista{{ txt.titulo }}" class="list-block list-block-search searchbar-found margLista">
        <ul>
            <li id="{{$index}}" ng-repeat="item in items track by $index" ng-click="popupDetalle($index)">
                <label class="label-radio item-content padLeft5">
                    <input type="radio" name="my-radio">
                    <div class="item-inner margLeft8">
                        <div>
                            <i class="icon icon-form-radio smallRadio"></i>
                            <span>
                            {{ ::item.title }}
                            {{ ::item.descripcion }}
                            {{ ::item['link/_text'] }}
                            {{ ::item['Título'] }}
                            </span>
                            <div class="pieItem">
                                <div ng-if="txt.titulo == 'BOE'">{{ item.description }}</div>
                                <div ng-if="item['pubDate']">{{'Fecha convocatoria: '}} {{ ::item['pubDate'] }}</div>
                                {{ ::item.plazo }}
                                {{ ::item.creator }}
                                {{ ::item['Departamento'] }}
                                {{ ::item['Órgano'] }}
                                {{ ::item['Administración'] }}
                                {{ ::item['ambito'] }}
                            </div>
                        </div>
                    </div>
                </label>
            </li>
        </ul>
    </div>
</div>

