<style type="text/css">
    #lista .item-inner {
        font-size: small;
    }
    .pieItem {
        font-size: x-small;
        color: cornflowerblue;
    }
</style>
<div data-page="listadoBoe" class="page cached">
    <!-- Barra nav ------------------------------------------------------------------------------------------------- -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#index" class="link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center">Subvenciones Boe</div>
        </div>
    </div>
    <!-- Barra busqueda -------------------------------------------------------------------------------------------- -->
    <form data-search-list=".list-block-search" data-search-in=".item-inner" class="searchbar searchbar-init">
        <div class="searchbar-input">
            <input id= "inputTxt" type="search" placeholder="Buscar"/>
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    <div class="searchbar-overlay"></div>
    <!-- Fin barra busqueda ---------------------------------------------------------------------------------------- -->
    <div class="page-content">
        <button ng-click="manualSearch('')">set search txt</button>
        <button ng-click="getSearchTxt()">get search txt</button>
        <div>Total: {{ itemsLenght }}</div>
        <div class="content-block searchbar-not-found">
            <div class="content-block-inner">No se han encontrado resultados</div>
        </div>
    <!-- Listado --------------------------------------------------------------------------------------------------- -->
        <div class="list-block list-block-search searchbar-found">
            <ul id="lista">
                <li ng-repeat="item in items" class="item-content">
                    <a ng-href="#detalleBoe?id={{hallaId(item.link)}}&web={{item.link|urlEncode}}&pdf={{item.guid.content|urlEncode}}"
                       class="item-link">
                        <div class="item-inner">
                            <div>
                                {{ item.title }}<br>
                                <div class="pieItem">{{ item.description }}</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <a href="#index">go back</a><br>
    <!-- pagina detalle -------------------------------------------------------------------------------------------- -->
        <ng-include src="'html/detalleBoe.html'" ng-controller="DetalleBoeCtrl"></ng-include>
    <!-- pagina detalle -------------------------------------------------------------------------------------------- -->
    </div>
</div>
